<!DOCTYPE html>
<html lang="zh-tw">
<head>
  <meta charset="utf-8">
  <meta http-equiv="content-language" content="zh-tw">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
  <meta name="author" content="Eddie Feng">
  <title>{{ title }} {{ description }}</title>
  <link rel="icon" href="./favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" />
  <meta lang="zh-tw" name="keywords" content="柯文哲,市長,政績">
  <meta lang="zh-tw" name="description" content="柯文哲在 2014 至 2022 擔任台北市長的 8 年間完成了許多重大政績、政策，其中包含減少債務 570 億元、 2 萬戶社會住宅、北門周邊改善、鄰里交通環境改善、翡翠原水管工程、傳統市場改建、敬老卡、一生一平板、共融式遊戲場、大數據中心、台北通，並且獲得超過 90 件國際重要獎項肯定。">
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{ title }} {{ description }}" />
  <meta property="og:description" content="柯文哲在 2014 至 2022 擔任台北市長的 8 年間完成了許多重大政績、政策，其中包含減少債務 570 億元、 2 萬戶社會住宅、北門周邊改善、鄰里交通環境改善、翡翠原水管工程、傳統市場改建、敬老卡、一生一平板、共融式遊戲場、大數據中心、台北通，並且獲得超過 90 件國際重要獎項肯定。" />
  <meta property="og:url" content="https://betterwaytw.github.io/kptaipei.html" />
  <meta property="og:image" content="https://betterwaytw.github.io/ogimage.jpg" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/2.0.0/modern-normalize.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" type="text/css" href="./style.css" />
  <script type="text/javascript" src="./script.js" ></script>
</head>
<body>
<div id="loading">KP 向前行 &nbsp;<span class="spinner"></span></div>
<div class="sidebar">
  <h1 id="sitetitle">
    {{ title }}
    <span class="subtitle">{{ description }}</span>
  </h1>
  <div id="phonemain">
    {% include "main.html" %}
  </div>
  <ul>
    {% for item in package %}
    <li id="main{{ item.alias }}" class="main" title="{{ item.alias }}">
      <div id="chk{{ item.alias }}" class="chk" title="{{ item.alias }}">{{ item.title }}</div>
      <div id="phonedetail{{ item.alias }}" class="phonedetail">
        {% if "intro" in item %}
        <div class="intro-content">{% include item.intro %}</div>
        {% endif %}
        {% if "video" in item %}
        <div class="video-content">
          {% for v in item.video %}
          <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ v }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          {% endfor %}
        </div>
        {% endif %}
        {% if "work" in item %}
        <div class="faq-content">
          {% for w in item.work %}
          {% set workcounter = item.id + w.id %}
          <div class="faq-question">
            <input id="q{{ workcounter }}" type="checkbox" class="panel">
            <div class="plus">&gt;</div>
            <label for="q{{ workcounter }}" class="panel-title">{{ w.title }}</label>
            <div class="panel-content">{{ w.intro }}</div>
          </div>
          {% endfor %}
        </div>
        {% endif %}
        {% if "link" in item %}
        <div class="link-content">
          <div class="link-title">&raquo; 相關連結</div>
          {% for k in item.link %}
          <div class="link-url"><a href="{{ k }}">{{ k }}</a></div>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
<div class="sidebarbg">&nbsp;</div>

<div class="content">

  <div id="detailmain" class="detail">
    <div class="detailcontent">
      <div class="intro-content">
        {% include "main.html" %}
      </div>
    </div>
  </div>

  {% for item in package %}
  <div id="detail{{ item.alias }}" class="detail">
    <h2>
      {{ item.title }}
    </h2>
    <div class="detailcontent" title="{{ item.alias }}">
      {% if "intro" in item %}
      <div class="intro-content">{% include item.intro %}</div>
      {% endif %}
      {% if "video" in item %}
      <div class="video-content">
        {% for v in item.video %}
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ v }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        {% endfor %}
      </div>
      {% endif %}
      {% if "work" in item %}
      <div class="faq-content">
        {% for w in item.work %}
        {% set workcounter = item.id + w.id %}
        <div class="faq-question">
          <input id="q{{ workcounter }}" type="checkbox" class="panel">
          <div class="plus">&gt;</div>
          <label for="q{{ workcounter }}" class="panel-title">{{ w.title }}</label>
          <div class="panel-content">{{ w.intro }}</div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
      {% if "link" in item %}
      <div class="link-content">
        <div class="link-title">&raquo; 相關連結</div>
        {% for k in item.link %}
        <div class="link-url"><a href="{{ k }}">{{ k }}</a></div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
</body>
</html>